html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(29, 29, 29);
  font-family: "share tech mono";
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('/pictures/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}
.container {
  text-align: center;
  margin-top: 20px;
  font-size: 0;
}

.social-logo {
  display: inline-block;
  width: 55px;
  filter: brightness(85%);
  transition: transform 0.3s ease, filter 0.3s ease;
  vertical-align: middle;
  margin: 0 2px;
}

.social-logo.steamlogo {
  margin-right: 3px;
}

.social-logo:hover {
  transform: scale(1.1);
  filter: brightness(100%);
}

.centerimg-container {
  text-align: center;
  position: relative;
  width: 115px;
  height: 115px;
  margin: 250px auto 20px;
  left: -5px;
  z-index: 1;
}

.centerimg {
  border-radius: 100px;
  background: #0000001c;
  padding: 5px;
  transition: transform 0.3s ease;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.centerimg:hover {
  transform: scale(1.1);
} 

.centertext {
  color: rgba(255, 255, 255, 0.514);
  font-size: 90%;
  font-family: 'Share Tech Mono'f;
  position: absolute;
  bottom: -7px;
  left: 55%;
  transform: translateX(-50%);
}

.centerimg-container:hover .centerimg {
  transform: scale(1.1);
}

/* Actually time-display but works ig */
.about-me {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  opacity: 100%;
  font-size: 100%;
  color: rgba(255, 255, 255, 0.514);
  font-family: 'Share Tech Mono';
  transform: translateY(-15px);
}

.localtime {
  text-align: center;
  font-size: 15px;
  font-family: 'Share Tech Mono';
  color: rgba(255, 255, 255, 0.514) ;
}

.contact {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: rgba(255, 255, 255, 0.514);
  margin: 0;
  padding: 7px 17px;
  border: 2px solid rgba(56, 56, 56, 0.514);
  background-color: rgb(20, 19, 19);
  text-decoration: none;
  font-size: 12px;
  font-family: "Share Tech Mono";
  transition: color 0.3s linear;
}

.contact:hover {
  color: rgb(243, 122, 9);;
}

.copyright {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: rgba(255, 255, 255, 0.514);
  margin: 0;
}

@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/techmono.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}